body {
  font-family: "Segoe UI Variable Text", "Segoe UI", system-ui, Arial;
  background-color: #1a1a1a;
  color: #efefef;

  margin: 0;
}

#header {
  margin-left: 16px;
  margin-bottom: 10px;
}

#alpha {
  color: #7a7a7a;
  font-weight: normal;
  font-size: 50%;
}

#description {
  margin-left: 16px;
  margin-top: 12px;
  margin-bottom: 12px;
}

.student-name-wrap {
  padding: 0 4px;
  background: #373e6b;
}

#sig {
  color: #7a7a7a;
  font-size: 90%;
}

#rt {
  display: inline-block;
  transform: rotate(-90deg) translateX(2px);
  margin-left: 6px;
}

#carousel {
  display: flex;
  flex-direction: row;
  gap: 4px;

  padding: 0 4px 0 4px;

  overflow-y: hidden;
  overflow-x: auto;

  background-color: #1a1a1a;
  will-change: scroll-position;
}

.carousel-entry-surround {
  flex-grow: 0;
  flex-shrink: 0;
  padding: 4px 0 36px 0;
  background-color: #1a1a1a;

  overflow: hidden;
}

.carousel-entry {
  width: 140px;
  height: 480px;
  background-color: #2a2a2a;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.student-name {
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  padding-left: 8px;
  color: #dddddd;
  z-index: 2;
}

.student-alt-name {
  font-size: 13px;
  font-weight: 400;
  font-style: italic;
  padding-left: 8px;
  color: #aaaaaa;
  z-index: 2;
}

.student-height {
  font-size: 20px;
  font-weight: 500;
  font-style: italic;
  padding-left: 8px;
  padding-bottom: 36px;
  color: #6188ff;
  z-index: 2;
  text-shadow: 0 0 8px #2a2a2a;
  -webkit-text-stroke: 4px #2a2a2acc;
  paint-order: stroke fill;
}

.height-fill {
  background: linear-gradient(#45558a 0%, #373e6b 2%, #2e3451 44%, #272c40 100%);

  position: relative;
  overflow: visible;
  flex-shrink: 0;
}

.student-artwork {
  z-index: 1;

  position: absolute;
  bottom: 0;
  left: 50%;
  pointer-events: none;

  height: calc(480px * var(--height) * var(--artScale) / 230);
  transform: translateX(calc(-50% + var(--artShift, 0px))) translateY(calc(var(--artOffset, 0px) * 1px));
}