body {
  font-family: "SST", system-ui, Arial;
  background-color: #1a1a1a;
  color: #efefef;

  margin: 0;
}

#carousel {
  display: flex;
  flex-direction: row;
  gap: 4px;

  padding: 64px;

  overflow-y: hidden;
  overflow-x: auto;
}

.carousel-entry {
  width: 140px;
  height: 480px;
  flex-grow: 0;
  flex-shrink: 0;
  background-color: #2a2a2a;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.student-name {
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  padding-left: 8px;
  color: #dddddd;
  z-index: 2;
}

.student-alt-name {
  font-size: 13px;
  font-weight: 400;
  font-style: italic;
  padding-left: 8px;
  color: #aaaaaa;
  z-index: 2;
}

.student-height {
  font-size: 20px;
  font-weight: 500;
  font-style: italic;
  padding-left: 8px;
  /*padding-bottom: 6px;*/
  padding-bottom: 36px;
  color: #6188ff;
  /*flex-grow: 1;*/
  z-index: 2;
  text-shadow: 0 0 3px #2a2a2a;
}

.height-fill {
  background: linear-gradient(rgb(69, 85, 138) 0%, rgb(55, 62, 107) 2%, rgb(40, 45, 72) 44%, rgb(31, 35, 51) 100%);

  position: relative;
  overflow: visible;
  flex-shrink: 0;
}

.student-artwork {
  z-index: 1;

  position: absolute;
  bottom: 0;
  left: 50%;

  height: calc(480px * var(--height) * var(--artScale) / 230);
  transform: translateX(-50%) translateY(calc(var(--artOffset) * 1px));
}