body {
  font-family: "SST", system-ui, Arial;
  background-color: #1a1a1a;
  color: #efefef;

  margin: 0;
}

#carousel {
  display: flex;
  flex-direction: row;
  gap: 4px;

  padding: 64px;

  overflow-y: hidden;
  overflow-x: auto;
}

.carousel-entry {
  width: 140px;
  height: 480px;
  flex-grow: 0;
  flex-shrink: 0;
  background-color: #2a2a2a;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.student-name {
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  padding-left: 8px;
  color: #dddddd;
}

.student-alt-name {
  font-size: 13px;
  font-weight: 400;
  font-style: italic;
  padding-left: 8px;
  color: #aaaaaa;
}

.student-height {
  font-size: 20px;
  font-weight: 500;
  font-style: italic;
  padding-left: 8px;
  /*padding-bottom: 6px;*/
  padding-bottom: 36px;
  color: #6188ff;
  /*flex-grow: 1;*/
}

.height-fill {
  background: linear-gradient(#2a3a6a, #1f2333);

  position: relative;
  overflow: visible;
  flex-shrink: 0;
}

.student-artwork {
  z-index: 1;

  position: absolute;
  bottom: 0;
  left: 50%;

  height: calc(480px * var(--height) * var(--artScale) / 230);
  transform: translateX(-50%) translateY(calc(var(--artOffset) * 1px));
}